{% extends 'main.html' %}
{% block title %}
	HomePage
{% endblock %}
{% block content %}
    <div class="col">
        <div class="card" style="width: 400px">
            <div class="card-header">
                <div class="card-image">
                    <img src="https://avatars.mds.yandex.net/get-altay/5098810/2a00000182688d826c14b4b0ae1eaafd9451/XXL_height" alt="" width="300">
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">NAJOT TA'LIM CHILONZOR FILLIALI</h4>
                <p class="card-text">Najot Ta'lim Kelejak kasblar birlashgan joy</p>
                <a href="https://najottalim.uz/" class="card-link">Batafsil</a>
            </div>
        </div>
    </div>
        <div class="col">
        <div class="card" style="width: 400px">
            <div class="card-header">
                <div class="card-image">
                    <img src="https://avatars.mds.yandex.net/i?id=99f992196fc53b4877002119b641a040f1b5af4a-5120760-images-thumbs&n=13" alt="" width="300">
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">NAJOT TA'LIM O'QUVCHISI NEGA 1000$ MAOSHNI RAD ETDI</h4>
                <p class="card-text">Jonli suxbat davomida barchasini bilib oling</p>
                <a href="https://youtu.be/65M3m_z-RbU?si=6_J2-jAw4Y83MMoW" class="card-link">Batafsil</a>
            </div>
        </div>
    </div>
{% endblock %}